# === Java ===
*.class
*.war
*.jar
*.log
*.tmp

# === Build ===
/build/
/target/
/bin/
/out/

# === Eclipse / IDE ===
.project
.classpath
.settings/
.factorypath
.metadata/
.vscode/
.idea/

# === Tomcat & Web root ===
/war_root/
/WEB-INF/lib/
/WEB-INF/classes/

# === OS files ===
.DS_Store
Thumbs.db

# === Others ===
/lib/
