@charset "UTF-8";

.commentaire {
	 display: flex;
	 justify-content: space-between;
	 align-items : center;
	 flex-direction: row;
	 max-width: 800px;
	 margin: auto;
     margin-top: 24px;
}

.commentaire input {
	width : 70%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
    font-size: 1em;
}

button {
        width: 20%;
        padding: 8px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1.1em;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }